.hero-section {
  height: 100vh;
  display: flex;
  background: #f2f2f2;
  position: relative;
  overflow: hidden;
}

.hero-left {
  width: 50%;
  padding-left: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.hero-small {
  font-size: 12px;
  letter-spacing: 2px;
  color: #666;
  margin-bottom: 12px;
}

.hero-name {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #000;
}

.hero-role {
  font-size: 14px;
  letter-spacing: 2px;
  color: #777;
  margin-bottom: 25px;
}

.hero-desc {
  max-width: 420px;
  color: #444;
  line-height: 1.6;
}

.hero-socials {
  display: flex;
  gap: 14px;
  margin-top: 30px;
}

.social-icon {
  border: 0.5px solid #000;
  padding: 10px 12px;
  font-size: 18px;
  color: #000;
  transition: all 0.3s ease;
}

.social-icon:hover {
  background: #000;
  color: #fff;
  transform: translateY(-3px);
}

.hero-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
   clip-path: polygon(45% 0, 100% 0, 100% 100%, 0% 100%);
}

.hero-image {
  height: 80%;
  object-fit: contain;
}

.hero-section::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 65%;
  height: 100%;
  background: #000;


  clip-path: polygon(40% 0, 100% 0, 100% 100%, 0% 100%);
  z-index: 1;
}

/* ==========
   RESPONSIVE 
============= */
@media (min-width: 769px) and (max-width: 1024px) {
  .hero-section {
    flex-direction: row;
    min-height: 100vh;
    align-items: stretch;
  }

  .hero-left {
    width: 55%;
    padding: 3rem;
    text-align: left;
    align-items: flex-start;
    justify-content: center;
  }

  .hero-right {
    width: 45%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .hero-image {
    height: 100%;
    margin-bottom: 0;
    object-fit: cover;
  }
}



@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    height: auto;
  }

  .hero-left,
  .hero-right {
    width: 100%;
  }

  .hero-left {
    padding: 3rem 1.5rem;
    text-align: center;
    align-items: center;
  }

  .hero-section::after {
    display: none;
  }

  .hero-image {
    height: 320px;
    margin-bottom: 2rem;
  }
}
